.filter-component {
  display: flex;
  align-items: center;
}

.filter-item {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.filter-item label {
  margin-right: 5px;
  color: black;
}

.p-inputtext,
.p-inputnumber-input {
  background-color: gray;
  color: black;
  border-radius: 25px;
  padding: 10px;
}

button,
.p-button {
  background-color: black;
  color: white;
  border-radius: 25px;
}
