# Ignore node_modules in both frontend and backend
geojson-frontend/node_modules/
geojson-backend/node_modules/

# Ignore dist directory in backend
geojson-backend/dist/
geojson-backend/build/

# General ignores
node_modules/
dist/
.env
.DS_Store
*.log
*.lock